form {
	margin-top: 30px;
}

ul {
	list-style: none;
}

li {
	cursor: pointer;
	color: #564EEE;
	font-size: 1.2em;
}

h2 {
	text-align: center;
}

.faves {
	margin-top: 20px;
}

.recent-search {
	padding-left: 0;
}