.media-object {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.container-results {
  margin-top: 70px;
}

.media {
  padding: 15px;
  border: 2px solid darkred;
  background: #eeeeee;
  border-radius: 5px;
}

.alert {
  text-align: center;
  font-size: 1.2em;
}

.red-color {
  color: red;
}